body {
  font-family: 'Spartan', sans-serif;
  background-image: url("images/bg-pattern-bottom-desktop.svg");
  background-color: #fff;
}

p {
  font-size: 15px;
  color: hsl(303, 10%, 53%);
}

h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

h3 {
  color: hsl(300, 24%, 96%);
}

h4 {
  color: hsl(333, 80%, 67%);
  margin-bottom: 30px;
}

h3, h4 {
  font-size: 1rem;
  line-height: 1.5;
}

h6 {
  text-align: center;
}

.details {
  color: #fff;
}

/* Reviews section */
.row {
  margin: 5% 0;
}

.review {
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  width: auto;
  padding: 15px 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}



/* Testimonials section */
.testimonial-1, .testimonial-2, .testimonial-3 {
  font-weight: 400;
  font-size: 15px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 20px;

}

@media (max-width: 750px) {
    body {
      text-align: center;
    }
    .testimonial-1, .testimonial-2, .testimonial-3 {
      margin-top: 5%;
    }
}

@media (min-width: 750px) {
  .photo {
    margin-right: 5px;
  }
  .rv2 {
    position:  relative;
    margin-left: 30px;
  }

  .rv3 {
    position: relative;
    margin-left: 60px;
  }

  .testimonial-1 {
    margin-left: 5%;
    width: 15%;
    height: 300px;
  }

  .testimonial-2 {
    margin-left: 5%;
    margin-top: 30px;
    width: 15%;
    height: 300px;
  }

  .testimonial-3 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
    width: 15%;
    height: 300px;
  }
}

.photo {
  border-radius: 100%;
  margin-right: 30px;
  float: left;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
